@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
@tailwind base;

@layer base {
  html {
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
  }
}

a {
  @apply text-slate-800;
  text-decoration: none;
}
h1 {
  @apply text-lg;
}

/* set font to all component */

@tailwind components;

@tailwind utilities;

.content p {
  @apply my-6;
}

.content ul {
  @apply my-6;
}

body {
  @apply bg-gray-200;
}

@media (max-width: 768px) {
  h1 {
    @apply text-base;
  }
}

input[type=number] {
  -moz-appearance: textfield;
}


#my-scrollbar {
  width: 500px;
  height: 500px;
  overflow: auto;
}